#pipeline {
  #lead-summary {
    padding-left: 12px;
    padding-right: 20px;

    &:first-child {
      background-color: red;
      padding-left: 20px;

      &.inverted-border-radius {
        position: relative;
        background-color: #fff;
        // border-radius: 25px 25px 0 25px;

        &:before {
          content: "";
          position: absolute;
          
          background-color: transparent;
          right: 0;
          bottom: -50px;
          height: 50px;
          width: 25px;
          border-top-right-radius: 20px;
          box-shadow: 0 -25px 0 0 #fff;
        }
      }
    }
  }

  .borrower {
    font-size: 14px;
  }
}