@namespace Project.Shared

<div id="pipeline" class="d-flex f-1 flex-row pa-4">
  <PipelineLeads
    Leads="Leads"
  ></PipelineLeads>

  <PipelineDetails
    LeadDetails="Leads.First()"
  ></PipelineDetails>
</div>
